* {
    box-sizing: border-box;
}
:root{
  --Blueish:#587ad8;
  --tan:#f6e9c9;
  --heliotrope:#e866ec;
  --white:#ffff;

}
body {
  font-family: Arial;
  margin: 0;
}
  
header {
  padding: 1rem 0 0;
  text-align: center;
  background: #13293d;
  color: #fff;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2%;
}
h1 {
  display:inline-block;
  font-size:48px;
}

/* Section Headings */
h2 {
  display:flex;
  float:left;
  align-self: flex-end;
  justify-content:center;
  font-size:200%;
  margin-top:33px;
  margin-right:10px;
}

/* First Letter Coloration */
.G {
  color:var(--Blueish);
}

div {
  margin: 0 auto;
  background-color:var(--tan);
  min-height:100px;
  margin:10px;
}
nav {
  display: flex;
  flex: 1 0 0;
  background-color: var(--tan);
  justify-content:flex-end;
  padding:0px;
  font-size:125%;
}

nav ul {
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
  min-width:24%;
}

a {
  color:var(--Blueish);
  font-weight: bold;
  text-decoration:none;
  text-align:center;
  padding: 14px;
}
 
a:hover {
    color: #fff;
}

ul, h3 {
  display:flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
  min-width:24%;
  font-size:150%;
}

li, h3 {
  padding-top:2%;
}
/* Big Picture Thing */
.brand {
  display:flex;
  flex-direction:column;
  padding: 1%;
  height: 400px;
  background-size:cover;
  background-position:center;
  background-image:url("../images/mountains.jpg");
  color:navy;
}

.container {
  margin-left:200px;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;  
}
/* Portfolio Work Section */
.card-1 {
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  margin:5px;
}

.card {
  flex: 1 0 0;
  display:flex;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  margin:5px;
  min-width:45%;
}

.card header, .card-1 header {
  position:absolute;
  width:6rem;
  height:4rem;
  margin: -1rem 0 1.5rem 0;
  padding:0.5rem 1rem;
  background: #13293d;
  color: #fff;
  border-radius:8px;
}

.card img, .card-1 img {
  width: 100%;
}

.card-1:hover,
.card-1:hover .card-1-header {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.card:hover,
.card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

/* Responsive Design Changes */
@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      margin-left:0;
    }
    h2 {
      float:none;
    }
    ul {
      flex-direction:column;
      align-items: center;
    }
}